
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

@font-face { font-family: Sporter;
    src: url('./fonts/Sporter.ttf'); }
h1{
    font-family: Sporter;
}
p{
    font-family:Open-sans;
}

*{
    padding-left: 10px;
    padding-right: 10px;
    padding-top:5px;
}

/*MENY style */
nav.meny{
    padding:2em;
    text-aling:center;
    background: linear-gradient(#f2f2f2, white);
}
.meny ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;

} .meny li{
    display: inline;
}
ul{
    list-style-type: none;
}

/* GRID LAYOUT */

.flex-container{
    background-color:#f2f2f2;
    display:flex;
    flex-direction:column;
    justify-content: center;
    flex-wrap: nowrap;
    height:1000px;
}

.flex-element{
    background-color:#f2f2f2;
    box-shadow:10px 10px 15px 15px grey;
    border:1px solid #f2f2f2;
    border-radius:10px;
    box-shadow: #f2f2f2;
    margin:20px;
    padding:30px;
    text-align:center;

}