<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
<nav>
    <ul class="meny">
        <li><a href="/">Home</a></li>
        <li><a href="/arrangementer">Arrangementer</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/signup">Registrer</a></li>
    </ul>
</nav>
<article th:each = "arrangement: ${arrangement}">
<strong>Arrangement Navn: </strong>
    <p th:text="${arrangement.navn}"></p>
    <strong>Beskrivelse: </strong>
    <p th:text="${arrangement.beskrivelse}"></p>
    <Strong>Lokasjon:</Strong>
    <p th:text = "${arrangement.lokasjon}"></p>
    <iframe th:each = "mapsurl: ${mapsurl}"width="600" height="450" frameborder="0" style="border:0"
            th:src="${mapsurl}"></iframe><br />
    <strong>Starttid: </strong>
    <p th:text="${arrangement.startDate}"></p>
    <strong>Slutt-tid: </strong>
    <p th:text="${arrangement.sluttDate}"></p>
    <Strong>Arrangør: </Strong>
    <p th:text="${arrangement.organiser}"></p>
    <strong>Races</strong>
    <ul th:each="race : ${arrangement.raceList}">
        <a th:href="@{'~/race/' + ${race.id}}" th:text="${race}"></a>
    </ul>
</article>
</body>
</html>