<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script>
        var kontoType;
            document.onload = function()
        {
            kontoType = document.signup.type;
        };
        function radChange() {
            kontoType = document.signup.type;
            if(kontoType.value=="deltager")
            document.getElementById("navn").innerHTML = "<li>Fornavn</li>" +
                "<li><input type=\"text\" name=\"fornavn\" id='fornavn' value='Ola'></li>" +
                "<li>Etternavn</li>" +
                "<li><input type=\"text\" name=\"etternavn\" id='etternavn' value='Normann'></li>" +
                "<li>Email</li>" +
                "<li><input type=\"email\" id=\"bruker\" name=\"bruker\" value='Ola@gmail.com'></li>" +
                "<li>Passord</li>" +
                "<li><input type=\"password\" name=\"password\" id=\"password\" value='admin'></li>" +
                "<li><input type=\"button\" onclick=\"alertSignupDeltager()\" value='Registrer' class='signupKnapp'></li>";

            if(kontoType.value=="organiser")
                document.getElementById("navn").innerHTML = "<li>Navn arrangør</li>" +
                    "<li><input type=\"text\" name=\"navn\" id='navnOrganiser' value='OlaNormanCorp'></li>" +
                    "<li>Email</li>" +
                    "<li><input type=\"email\" id=\"bruker\" name=\"bruker\" value='Normann@gmail.com'></li>" +
                    "<li>Passord</li>" +
                    "<li><input type=\"password\" name=\"password\" id=\"password\" value='admin'></li>" +
                    "<li><input type=\"button\" onclick=\"alertSignupOrganiser()\" value='Registrer' class='signupKnapp'></li>";
        }
        function alertSignupDeltager() {
            var input = true;
            if(document.getElementById("fornavn").value===""){
                alert("ugylde fornavn");
                input=false;
            }
            if(document.getElementById("etternavn").value===""){
                alert("ugylde etternavn");
                input=false;
            }
            if(document.getElementById("bruker").value===""){
                alert("ugylde email");
                input=false;
            }
            if(document.getElementById("password").value===""){
                alert("ugylde passord");
                input=false;
            }
            else if(input){
                document.signup.submit();
                alert("takk for registreringen");
            }
        }
        function alertSignupOrganiser() {
            var input=true;
            if(document.getElementById("navnOrganiser").value===""){
                alert("ugylde navn");
                input=false;
            }
            if(document.getElementById("bruker").value===""){
                alert("ugylde email");
                input=false;
            }
            if(document.getElementById("password").value===""){
                alert("ugylde passord");
                input=false
            }
            else if (input) {
                document.signup.submit();
                alert("takk for registreringen");
            }
        }
    </script>
</head>
<body>
<nav>
    <ul class="meny">
        <li><a href="/">Home</a></li>
        <li><a href="/arrangementer">Arrangementer</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/signup">Registrer</a></li>
    </ul>
</nav>
<h2>SignUp</h2>
<form name ="signup" method="post">
    <ul>
        <li>Kontotype</li>
        <li><input type="radio" name="type" value="deltager" onchange="radChange()"> Deltager<br>
            <input type="radio" name="type" value="organiser" onchange="radChange()"> Arrangør<br></li>
        <div id="navn"></div>
    </ul>
</form>
</body>
</html>